{% extends 'baseBack.html.twig' %}
{% block title %}
    Ajouter un Offre
{% endblock %}
{% block body %}
    {{ form_start(formoffres,{'attr': {'novalidate': 'novalidate'}} ) }}
    <h1>Ajouter un Offre</h1>
    {{ form_start(formoffres,{'attr': {'novalidate': 'novalidate'}} ) }}

    <table>
        <tr>
            <td>{{ form_label(formoffres.nom,"NOM  ") }}</td>

            <td>{{ form_widget(formoffres.nom) }}</td>
            <td>{{ form_errors(formoffres.nom) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(formoffres.DateDebutOffres,"DATE DEBUT   ") }}</td>

            <td>{{ form_widget(formoffres.DateDebutOffres) }}</td>
            <td>{{ form_errors(formoffres.DateDebutOffres) }}</td>
        </tr>
      <td>{{ form_label(formoffres.DateFinOffre,"DATE FIN") }}</td>

            <td>{{ form_widget(formoffres.DateFinOffre) }}</td>
            <td>{{ form_errors(formoffres.DateFinOffre) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(formoffres
                .NomGuide,"Nom Guide ") }}</td>

            <td>{{ form_widget(formoffres
                .NomGuide) }}</td>
            <td>{{ form_errors(formoffres
                .NomGuide) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(formoffres
                .Prix,"Prix  ") }}</td>

            <td>{{ form_widget(formoffres
                .Prix) }}</td>
            <td>{{ form_errors(formoffres
                .Prix) }}</td>
        </tr>
        </tr>
        <td>{{ form_label(formoffres.NbrPlaces,"NbrPlaces") }}</td>

        <td>{{ form_widget(formoffres.NbrPlaces) }}</td>
        <td>{{ form_errors(formoffres.NbrPlaces) }}</td>
        </tr>

        </tr>
        <tr>



    </table>
    {{ form_end(formoffres) }}

{% endblock %}