{% extends 'baseFront.html.twig' %}
{% block title %}
    Liste des Offres
{% endblock %}
{% block body %}


    <!--vols -->
    <div class="Tours">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>LISTE DES OFFRES </h2>
                    </div>
                </div>
            </div>
            <section id="demos">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme">

                            {% for i in taboffre %}

                                <div class="item">
                                    <img  src="../../public/uploads/images/products/{{ i.image }}" style="width:300px;height:200px;">
                                    <h1><font color="#6495ed"> "{{ i.nom}} "</font></h1>



                                    <h2> Date DEBUT: {{ i.DateDebutOffres|date("m/d/Y") }}</h2>
                                    <h2> Date DEBUT: {{ i.DateFinOffre|date("m/d/Y") }}</h2>
                                    <h2> GUIDE: {{ i.NomGuide}}</h2>
                                    <h2> PRIX: {{ i.Prix}}</h2>
                                    <h2>PLACES DISPO :  {{ i.NbrPlaces}}</h2>


                                    <ul class="nav pull-right top-menu">
                                        <li><a class="logout""> Reserver
                                                une place </a></li>
                                    </ul>

                                    <p></p>
                                </div>


                            {% endfor %}
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
    <!-- end vols -->

{% endblock %}
