<h1 align="center">RESERVATION</h1><hr>



<table border="10" class="display table table-bordered" id="hidden-table-info">
    <tr>

        <td style="color: #3ea9dd"> IDENTIFIANT </td>

        <td style="color: #3ea9dd"> NOM OFFRES </td>
        <td style="color: #3ea9dd">NOM GUIDE</td>
        <td style="color: #3ea9dd">DATE DEBUT</td>
        <td style="color: #3ea9dd"> DATE FIN</td>

        <td style="color: #3ea9dd"> PRIX</td>



    </tr>
    {% for e in taboffre %}

        <tr>
            <td>{{ e.Id}}</td>
            <td>{{ e.nom }}</td>
            <td>{{e.NomGuide }}</td>
            <td>
                {{e.DateDebutOffres|date('d/m/Y')}}
            </td>
            <td>

                {{e.DateFinOffre|date('d/m/Y')}}

            </td>
            <td>{{ e.Prix}}</td>

        </tr>


    {% endfor %}
</table>