{% extends 'baseFront.html.twig' %}
{% block title %}
    Liste des billets
{% endblock %}
{% block body %}
<<<<<<< Updated upstream
    <h1 style="color:#3ea9dd ">Liste des Billets</h1>
    <table border="0" class="display table table-bordered" id="hidden-table-info">
        <tr>
            <td style="color: #3ea9dd">Numero du Billet</td>
            <td style="color: #3ea9dd">Nom de la compagnie</td>
            <td style="color: #3ea9dd">Prix du Billet</td>
            <td style="color: #3ea9dd">Date du Vol</td>
            <td style="color: #3ea9dd">Heure du vol</td>

        </tr>
        {% for i in listBillets %}
            <tr>
                <td>{{ i.numB}}</td>
                <td>{{ i.nomCom}}</td>
                <td>{{ i.Prix}}</td>
                <td>{{ i.dateV|date("m/d/Y") }}</td>
                <td>{{ i.dateV|date('H:i') }}</td>

            </tr>

        {% endfor %}
    </table>

{% endblock %}
=======

<!-- our Billets-->
<div id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Les Billets Du Vol</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i in listBillets %}


                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="blog-box">
                        <figure><img src ="{{ asset('front/images/' ~ i.imageBillet )}}" alt="#" width="500" style="height:200px;"/>
                            <span>{{ i.Prix }} TND </span>
                        </figure>

                        </figure>
                        <div class="travel">
                            <span>Date du vol : {{ i.dateV|date("m/d/Y") }}</span>
                        </div>

                        <div class="button_section"> <a class="main_bt" href="{{ path('volDispo',{'id':i.id}) }}">Réserver</a>  </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

    <div class="titlepage" ><h2>{{ knp_pagination_render (listBillets) }}</h2>

    </div>


{% endblock %}
>>>>>>> Stashed changes
