{% extends 'baseBack.html.twig' %}
{% block title %}
    Liste des billets
{% endblock %}
{% block body %}

    <ul class="nav pull-right top-menu">
        <li><a class="logout" href="{{ path('addBillet') }}">Ajouter</a></li>
    </ul>
    <a href="showBillet">

            <h1 align="center">Liste des Billets</h1>

    </a>

{# {{ form(formBillet) }} #}

    <p style="100px" > <input  id="myInput"  type="text" placeholder="Rechercher Billet......">

    <table border="0" class="display table table-bordered" id="hidden-table-info">
        <tr>
            <td style="color: #3ea9dd">Numero du Billet</td>
            <td style="color: #3ea9dd">Nom de la compagnie</td>
            <td style="color: #3ea9dd">Prix du Billet</td>
            <td style="color: #3ea9dd">Date du Vol</td>
            <td style="color: #3ea9dd">Heure du vol</td>
            <td style="color: #3ea9dd">Compagnie</td>
            <td style="color: #3ea9dd">VilleArrive</td>
            <td style="color: #3ea9dd">Modifier</td>
            <td style="color: #3ea9dd">Supprimer</td>
        </tr>

        <tbody  id="myTable">

        {% for i in showBillets %}
            <tr>
                <td>{{ i.numB}}</td>
                <td>{{ i.nomCom}}</td>
                <td>{{ i.Prix}}</td>
                <td> <time>
                        {{ i.dateV|date("m/d/Y") }}
                    </time>
                </td>
                <td> <time>
                    {{ i.dateV|date('H:i') }}
                    </time>
                </td>
                <td><img src ="{{ asset('front/images/' ~ i.imageBillet )}}"
                         alt="" height="80" width="80">
                </td>
                <td>{{ i.vol }}</td>

                <td> <a href="{{ path('updateBillet',{'id':i.id}) }}" class="btn btn-primary btn-xs">
                        <i class="fa fa-pencil">

                        </i>
                    </a>
                </td>

                <td> <a href="{{ path('deleteBillet',{'id':i.id}) }}" class="btn btn-danger btn-xs">
                        <i class="fa fa-trash">

                        </i>
                    </a>
                </td>
            </tr>

        {% endfor %}
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a class="btn btn-theme mt" href="{{ path('triBilletPrix') }}" >Trier par prix </a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <a class="btn btn-theme mt" href="{{ path('triBilletDate') }}" >Trier par date</a>

    </div>
    </div>


{% endblock %}