{% extends 'baseBack.html.twig' %}
{% block title %}
    Modifier un billet
{% endblock %}
{% block body %}

    <h1>Modifier un Billet</h1>
    {{ form_start(formBillet,{'attr': {'novalidate': 'novalidate'}} ) }}
    <table>
        <tr>
            <td>{{ form_label(formBillet.numB,"Numéro du billet") }}</td>

            <td>{{ form_widget(formBillet.numB) }}</td>
            <td>{{ form_errors(formBillet.numB) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(formBillet.nomCom,"Nom de la Compagnie") }}</td>

            <td>{{ form_widget(formBillet.nomCom) }}</td>
            <td>{{ form_errors(formBillet.nomCom) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(formBillet.Prix,"Prix du billet") }}</td>

            <td>{{ form_widget(formBillet.Prix) }}</td>
            <td>{{ form_errors(formBillet.Prix) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(formBillet.dateV," Date et Heure du Vol ") }}</td>

            <td>{{ form_widget(formBillet.dateV) }}</td>
            <td>{{ form_errors(formBillet.dateV) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(formBillet.imageBillet," Image Compagnie ") }}</td>

            <td>{{ form_widget(formBillet.imageBillet) }}</td>
            <td>{{ form_errors(formBillet.imageBillet) }}</td>
        </tr>

    </table>
    {{ form_end(formBillet) }}

{% endblock %}