{% extends 'baseFront.html.twig' %}
 {% block body %}
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
     <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />





     <!-- end vols -->
     <style>
         label:hover, label:active {
             color:yellow;
         }
         .drone
         {
             display: none;
         }
         input[type="radio"]:checked+label{ font-weight: bold; color:yellow;}

     </style>

     <div class="Tours">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class="titlepage">
                         <h2>Les meilleurs voitures</h2>

                     </div>
                 </div>
                 <p style="margin-left: 950px"> <input  id="myInput"  type="text" placeholder="Search..">

             </div>
             <section id="demos">
                 <div class="row">
                     <div class="col-md-12">
                         <div class="owl-carousel owl-theme">

                             <tbody  id="myTable">
                             {% for i in tabagence %}

                                 <div class="item">
                                     <div class="titlepage">
                                         <h1 style="color: #002a80">{{ i.nomagence }} </h1>


                                         <img  class="img-circle" src="../../public/uploads/images/products/{{ i.image }}" alt="#" width="500" style="height:300px;" />

                                         <h3> ADRESSE : {{ i.adresse }}</h3>
                                         <p> +216{{ i.numtel }} </p>
                                         <p> NOMBRE DE VOITURES:{{ i.nbrvoiture }} </p>

                                     </div>



                                     <a href="{{ path('listvoiturebyf',{'id':i.id}) }}" class="btn btn-primary btn-xs" >
                                         <i class="fa fa-adjust">
                                             LIST VOITURE
                                         </i>

                                     </a>
                                     {#  <ul class="nav pull-right top-menu">
                                    <li><a class="logout" href="{{ path('listChambreByHotel',{'id':i.id}) }}">  </a></li>
                                </ul>#}

                                 </div>


                             {% endfor %}

                             </tbody>
                         </div>
                     </div>
                 </div>

             </section>
         </div>
     </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script>
         $(document).ready(function(){
             $("#myInput").on("keyup", function() {
                 var value = $(this).val().toLowerCase();
                 $("#myTable h3").filter(function() {
                     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                 });
             });
         });
     </script>


 {% endblock %}