{% extends 'baseFront.html.twig' %}
{% block title %}
    Liste des evenements
{% endblock %}
{% block body %}



    <div class="Tours">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>LISTE DES EVENEMENTS </h2>
                    </div>
                </div>
            </div>
            <section id="demos">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme">

                            {% for i in tabevenement %}

                                <div class="item">
                                    <h4><font color="#6495ed"> EVENEMENT "{{ i.Type}} "</font></h4>

                                    <img  src="../../public/uploads/images/products/{{ i.image }}" style="width:300px;height:200px;">

                                    <h2> NOM EVENEMENT: {{ i.NomEvenement}}</h2>
                                    <h2> Date DEBUT: {{ i.DateDebut|date("m/d/Y") }}</h2>
                                    <h2> Date DEBUT: {{ i.DateFin|date("m/d/Y") }}</h2>
                                    <h2> LIEUX: {{ i.Lieux }}</h2>



                                    <ul class="nav pull-right top-menu">
                                        <li><a class="logout" href="{{ path('listoffresbyevenementfront',{'id':i.id}) }}"> Consulter
                                            les offres</a></li>
                                    </ul>

                                    <p></p>
                                    <p></p>
                                </div>


                            {% endfor %}
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>


{% endblock %}
