{% extends 'baseFront.html.twig' %}
{% block title %}
    Liste des vols
{% endblock %}
{% block body %}

    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
    <!--vols -->
    <div class="Tours">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Vol Par Cher Tunisie</h2>
                    </div>
                </div>
            </div>
            <section id="demos">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme">

                            {% for i in showVols %}
                                {% if i.nbrPlace != 0 %}
                                <div class="item">
                                        <div class="titlepage">

                                    <h1>Vol {{ i.VilleArrive}}</h1>
                                    <img class="img-responsive" src ="{{ asset('front/images/' ~ i.imageVol ) }}" alt="#" width="500" style="height:300px;" />


                                    <p>Date départ : {{ i.DateDepart|date("m/d/Y") }}</p>
                                   <p> A {{ i.DateArrive|date('H:i') }}H</p>

                                    <div class="button_section"> <a class="main_bt" href="{{ path('listBilletByVol',{'id':i.id}) }}">Consulter Billet</a>  </div>


                                    <p></p>
                                </div>

                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
    <!-- end vols -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}

{% endblock %}
