{% extends 'baseBack.html.twig' %}
{% block title %}
    Liste des chambres
{% endblock %}
{% block body %}

    <ul class="nav pull-right top-menu">
        <li><a class="logout" href="{{ path('addChambre') }}">Ajouter</a></li>
    </ul>
    <ul class="nav pull-right top-menu">
        <li><a class="logout" href="{{ path('afficheResChambre') }}">Gestion des réservations</a></li>
    </ul>
    <a href="listChambre">
        <h1 align="center">Liste des Chambres</h1>
    </a>

    {#  {{ form(formChambre) }}#}

    <p style="100px" > <input  id="myInput"  type="text" placeholder="Rechercher Chambre......">

    <table border="0" class="display table table-bordered" id="hidden-table-info">

        <tr>
            <td style="color: #3ea9dd"> Numéro de la Chambre </td>
            <td style="color: #3ea9dd"> Nombre de lits </td>
            <td style="color: #3ea9dd"> Vue </td>
            <td style="color: #3ea9dd"> Etage </td>
            <td style="color: #3ea9dd"> Prix </td>
            <td style="color: #3ea9dd"> Bloc </td>
            <td style="color: #3ea9dd"> Disponibilité </td>
            <td style="color: #3ea9dd"> Image Chambre</td>
            <td style="color: #3ea9dd"> Nom hotel</td>
            <td style="color: #3ea9dd">Modifier</td>
            <td style="color: #3ea9dd">Supprimer</td>

        </tr>
        <tbody  id="myTable">
        {% for i in listChambres %}
            <tr>

                <td>{{ i.NumCh }}</td>
                <td>{{ i.NbrLits }}</td>
                <td>{{ i.vue }}</td>
                <td>{{ i.Etage }}</td>
                <td>{{ i.Prix }} DT</td>
                <td>{{ i.Bloc }}</td>
                <td>{{ i.dispo }}</td>

                <td><img src ="{{ asset('front/images/' ~ i.ImageCh )}}"
                         alt="" height="80" width="80">
                </td>
                <td>{{ i.hotel }}</td>

                <td> <a href="{{ path('updateChambre',{'id':i.id}) }}" class="btn btn-primary btn-xs">
                        <i class="fa fa-pencil">

                        </i>
                    </a>
                </td>

                <td> <a href="{{ path('deleteChambre',{'id':i.id}) }}" class="btn btn-danger btn-xs">
                        <i class="fa fa-trash">

                        </i>
                    </a>
                </td>

            </tr>

        {% endfor %}
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a class="btn btn-theme mt" href="{{ path('triChambreBloc') }}" >Trier par bloc </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <a class="btn btn-theme mt" href="{{ path('triChambrePrix') }}" >Trier par prix</a>
        </div>
    </div>

{% endblock %}
