{% extends 'baseFront.html.twig' %}
{% block title %}
    Liste des chambres
{% endblock %}
{% block body %}
<<<<<<< Updated upstream
    <h1 style="color:#3ea9dd "> Liste des Chambres </h1>
    <table border="0" class="display table table-bordered" id="hidden-table-info">

        <tr>
            <td style="color: #3ea9dd"> Numéro de la Chambre </td>
            <td style="color: #3ea9dd"> Nombre de lits </td>
            <td style="color: #3ea9dd"> Vue </td>
            <td style="color: #3ea9dd"> Etage </td>
            <td style="color: #3ea9dd"> Prix </td>
            <td style="color: #3ea9dd"> Bloc </td>


        </tr>
        {% for i in showChambres %}
            <tr>
                <td>{{ i.NumCh }}</td>
                <td>{{ i.NbrLits }}</td>
                <td>{{ i.vue }}</td>
                <td>{{ i.Etage }}</td>
                <td>{{ i.Prix }}</td>
                <td>{{ i.Bloc }}</td>


            </tr>

        {% endfor %}
    </table>

{% endblock %}
=======

    <!-- our Chambres -->
    <div id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Les Chambres d'Hotel</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i in showChambres %}
            {# {% if i.dispo == "Disponible" %} #}
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="blog-box">

                        <figure><img src ="{{ asset('front/images/' ~ i.ImageCh )}}" alt="#" width="500" style="height:300px;"/>
                            <span>A partir de TND {{ i.prix}} </span>
                        </figure>
                       {#
                       <div class="travel">
                            <span>{{ i.NbrLits }} lits</span>
                        </div>
                       #}

                        <div class="travel">
                            <span> Vue {{ i.vue }}</span>
                        </div>

                        <p></p>
                        <div class="button_section"> <a class="main_bt" href="{{ path('dispoChambre',{'id':i.id}) }}">Réserver</a>  </div>
                    </div>
                </div>
              {#{% endif %} #}
            {% endfor %}

        </div>

    </div>



      <div class="titlepage" ><h2>{{ knp_pagination_render (showChambres) }}</h2>

        </div>



{% endblock %}
>>>>>>> Stashed changes
