{% extends 'baseFront.html.twig' %}
{% block title %}
    Ajouter une réservation
{% endblock %}

{% block body %}

    {% form_theme formResChambre 'bootstrap_4_layout.html.twig' %}

<section >
    <div class="banner-main">
        <img src="{{ asset('front/images/banner.jpg') }}" alt="#"/>
        <div class="container">
            <div class="text-bg">
                <h1>Let's Travel<br><strong class="white">Réserver votre Chambre</strong></h1>
                <div class="container">


                    {{ form_start(formResChambre,{'attr': {'novalidate': 'novalidate','class':'main-form'}} ) }}

                    <h3>Votre Réservation</h3>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">

                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <label >{{ form_label(formResChambre.nbrJ,"Nombre du jour  ") }}</label>
                                    {{ form_widget(formResChambre.nbrJ,{'attr':{'class':'form-control'}}) }}
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">

                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <label >{{ form_label(formResChambre.dateRes,"Date reservation  ") }}</label>
                                    {{ form_widget(formResChambre.dateRes,{'attr':{'class':'form-control'}}) }}

                                    {{ form_widget(formResChambre.captchaCode,{'attr':{'class':'form-control'}}) }}
                                    {{ form_errors(formResChambre.captchaCode) }}
                                    <br><br>
                                    {{ form_widget(formResChambre.Submit,{'attr':{'class':'main_bt'}}) }}
                                </div>

                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="button_section">

                    </div>

                    {{ form_end(formResChambre) }}


                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}