{% block body %}
    <img  align="left" src="C:\xampp\htdocs\ProjetPiDev8\public\front\images\let.png" style="width: 200px" >
    <br><br>
    <form>
        <br><br>
        <h1 align="center" style="color: #ff762e" >Let's Travel</h1>





    <fieldset data-resize="20">
    <legend>Fiche de réservation  </legend>

        <h1 align="center" style="color: #022739">Hôtel {{afficheResChambre.chambre.hotel.NomHotel}} </h1><hr>
        <h3 style="color: #022739">Date de la réservation :   <p style="color: #114c7d">{{afficheResChambre.dateRes|date('d-m-Y')}}</p></h3>
        <h3 style="color: #022739">Informations de la chambre : </h3>
        <p style="color: #114c7d">{{ afficheResChambre.chambre.vue }} situé dans l 'étage {{ afficheResChambre.chambre.Etage }} dans le bloc {{ afficheResChambre.chambre.Bloc }} </p>
        <h3 style="color: #022739">Tarif appliqué par nuit  : </h3>
        <p style="color: #114c7d">{{afficheResChambre.chambre.Prix}} DT</p>
        <h3 style="color: #022739">Nombre de jours réservé : </h3>
        <p style="color: #114c7d">{{ afficheResChambre.nbrJ }}</p>
        <h3 style="color: #022739">Total séjour: </h3>
        <p style="color: #114c7d">{{afficheResChambre.tarif}} DT</p>



        <br>
        <p>Agence lest's Travel,Routre 870,Cité El Ghazela , Hôtel {{afficheResChambre.chambre.hotel.NomHotel}}, @{{afficheResChambre.chambre.hotel.Adresse}} , 74400,   TunisieTel: +216 {{afficheResChambre.chambre.hotel.NumTel}}   -Email: {{afficheResChambre.chambre.hotel.Email}}</p>

    </fieldset>
        <img align ="right" src="C:\xampp\htdocs\ProjetPiDev8\public\front\images\logo.png" style="width: 150px" w height="100px" >
    </form>
{% endblock %}