
{% block body %}
    <img  align="left" src="C:\xampp\htdocs\ProjetPiDev8\public\front\images\let.png" style="width: 200px" >
    <br><br>
    <form>
        <br><br>
        <h1 align="center" style="color: #ff762e" >Let's Travel</h1>

        <fieldset data-resize="20">
            <legend>Fiche de réservation  </legend>
            <h1 align="center" style="color: #022739">Vol {{ afficheResBillet.billet.vol.VilleArrive }}</h1><hr>
            <h3 style="color: #022739">Date et heure  du vol </h3>
            <p style="color: #114c7d">{{afficheResBillet.billet.dateV|date('d-m-Y')}} , {{ afficheResBillet.billet.vol.DateDepart|date('H:i') }}   </p>
            <h3 style="color: #022739"> Ville départ et ville arrivée : </h3>
            <p style="color: #114c7d"> De {{ afficheResBillet.billet.vol.VilleDepart}} à{{ afficheResBillet.billet.vol.VilleArrive }} </p>
            <h3 style="color: #022739">Nombre des passagers: </h3>
            <p style="color: #114c7d">{{ afficheResBillet.nbrPas }}</p>
            <h3 style="color: #022739">Type de vol: </h3>
            <p style="color: #114c7d">{{ afficheResBillet.billet.vol.typeV }}</p>
            <h3 style="color: #022739">Nom de la compagnie: </h3>
            <p style="color: #114c7d">{{ afficheResBillet.billet.nomCom }}</p>
            <h3 style="color: #022739">Classe vol : </h3>
            <p style="color: #114c7d">{{ afficheResBillet.classe }}</p>
            <h3 style="color: #022739">Tarif de la réservation : </h3>
            <p style="color: #114c7d">{{afficheResBillet.tarif}} DT</p>
            <p>Agence lest's Travel,Routre 870,Cité El Ghazela , Vol de  {{ afficheResBillet.billet.vol.VilleDepart}} à {{ afficheResBillet.billet.vol.VilleArrive }} ,74400,   TunisieTel: +216 72 000 000</p>

        </fieldset>
        <img align ="right" src="C:\xampp\htdocs\ProjetPiDev8\public\front\images\logo.png" style="width: 120px"  height="100px" >

    </form>

{% endblock %}